@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.quran-section-container,
.quran-section-popup * {
    font-family: 'Amiri', serif;
}

.quran-section .form-input {
    --form-input-margin-bottom: 12px;

    margin-block-end: var(--form-input-margin-bottom);
    margin-bottom: var(--form-input-margin-bottom);
}

.quran-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
}

.quran-section-container .surah-card {
    background-color: var(--surah-card-bg);
    box-shadow: 0 0 2px 2px var(--shadow-surah);
    text-align: center;
    padding: 12px;
    cursor: pointer;
    font-size: var(--fz-surah-name-card);
}

.quran-section-popup {
    --popup-padding-top: 116px;
    --popup-padding-x: 1rem;
    --popup-padding-bottom: 1rem;
    --popup-top: 0;
    --popup-right: -100dvw;
    --popup-height: 100dvh;
    --popup-overflow-y: auto;
    --popup-transition-duration: 0.5s;
    --popup-scroll-width: 0;

    height: var(--popup-height);
    /* Fallback */
    block-size: var(--popup-height);

    padding-block-start: var(--popup-padding-top);
    /* Fallback */
    padding-top: var(--popup-padding-top);

    padding-inline: var(--popup-padding-x);
    /* Fallback */
    padding-right: var(--popup-padding-x);
    padding-left: var(--popup-padding-x);

    position: fixed;

    inset-block-start: var(--popup-top);
    /* Fallback */
    top: var(--popup-top);

    inset-inline-start: var(--popup-right);
    /* Fallback */
    right: var(--popup-right);

    z-index: 1;
    background-color: var(--white);
    color: var(--text-color);

    overflow-block: var(--popup-overflow-y);
    /* Fallback */
    overflow-y: var(--popup-overflow-y);
    scrollbar-width: var(--popup-scroll-width);
    scrollbar-color: transparent transparent;
}

.quran-section-popup.active {
    --popup-right: 0;

    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: var(--popup-transition-duration) ease;
    -moz-transition: var(--popup-transition-duration) ease;
    -ms-transition: var(--popup-transition-duration) ease;
    -o-transition: var(--popup-transition-duration) ease;
    transition: var(--popup-transition-duration) ease;
}

.quran-section-popup::-webkit-scrollbar {
    --scroll-width: 5px;
    --scroll-border-radius: 10px;

    width: var(--scroll-width);
    background-color: var(--scroll-surah-bg);
    -webkit-border-radius: var(--scroll-border-radius);
    -moz-border-radius: var(--scroll-border-radius);
    -ms-border-radius: var(--scroll-border-radius);
    -o-border-radius: var(--scroll-border-radius);
    border-radius: var(--scroll-border-radius);
}

.quran-section-popup::-webkit-scrollbar-thumb {
    width: var(--scroll-width);
    background-color: var(--scroll-surah-thumb);
    -webkit-border-radius: var(--scroll-border-radius);
    -moz-border-radius: var(--scroll-border-radius);
    -ms-border-radius: var(--scroll-border-radius);
    -o-border-radius: var(--scroll-border-radius);
    border-radius: var(--scroll-border-radius);
}

.modal-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quran-section-popup .modal-icon {
    --one-side: 2rem;
    --modal-icon-border-radius: 50%;
    --transition-duration: 0.5s;

    width: var(--one-side);
    height: var(--one-side);
    -webkit-border-radius: var(--modal-icon-border-radius);
    -moz-border-radius: var(--modal-icon-border-radius);
    -ms-border-radius: var(--modal-icon-border-radius);
    -o-border-radius: var(--modal-icon-border-radius);
    border-radius: var(--modal-icon-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--shadow);
    -webkit-transition: var(--transition-duration) ease;
    -moz-transition: var(--transition-duration) ease;
    -ms-transition: var(--transition-duration) ease;
    -o-transition: var(--transition-duration) ease;
    transition: var(--transition-duration) ease;
}

.quran-section-popup .modal-icon svg {
    --svg-side: 20px;

    width: var(--svg-side);
    height: var(--svg-side);
}

.quran-section-popup i:hover {
    background-color: var(--shadow);
}

.quran-section-popup .popup-content {
    --popup-content-py: 12px;
    --popup-content-px: 0;

    border-bottom: 1px solid var(--text-color);
    padding-block: var(--popup-content-py);
    padding-top: var(--popup-content-py);
    padding-bottom: var(--popup-content-py);

    padding-inline: var(--popup-content-px);
    padding-right: var(--popup-content-px);
    padding-left: var(--popup-content-px);

    font-size: 20px;
    line-height: 45px;
}

.quran-section-popup .popup-content ::selection {
    color: var(--white);
    background-color: var(--surah-selection);
}

.quran-section-popup .popup-content .one-ayah {
    font-size: var(--fz-ayah);
}

.quran-section-popup .popup-content .ayah-number {
    --ayah-side: 30px;
    --ayah-my: 0;
    --ayah-mx: 8px;
    --ayah-border-radius: 50%;

    width: var(--ayah-side);
    height: var(--ayah-side);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-block: var(--ayah-my);
    margin-top: var(--ayah-my);
    margin-bottom: var(--ayah-my);

    margin-inline: var(--ayah-mx);
    margin-right: var(--ayah-mx);
    margin-left: var(--ayah-mx);

    border: 1px solid var(--text-color);
    -webkit-border-radius: var(--ayah-border-radius);
    -moz-border-radius: var(--ayah-border-radius);
    -ms-border-radius: var(--ayah-border-radius);
    -o-border-radius: var(--ayah-border-radius);
    border-radius: var(--ayah-border-radius);

    font-size: 1rem;
}

.surah-name {
    --surah-name-mb: 40px;

    font-weight: bold;
    margin-block-end: var(--surah-name-mb);
    margin-bottom: var(--surah-name-mb);
    font-size: var(--fz-surah-name-popup);
    display: flex;
    justify-content: center;
}

.highlighted {
    background-color: var(--surah-highlighted);
}

@media print {

    .navbar,
    .footer,
    main>*:not(.quran-section),
    .quran-section>*:not(.quran-section-popup) {
        display: none;
    }

    .quran-section {
        position: static;
    }

    .quran-section-popup {
        padding: 0;
        position: static;
    }

    .modal-icons {
        display: none;
    }

    .quran-section-popup::-webkit-scrollbar {
        width: 0;
    }

    .quran-section-popup .popup-content {
        border-bottom: none;
    }

    .quran-section-popup .popup-content span:not(.ayah-number) {
        line-height: 48px;
    }
}