<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="theme-color" content="#FBFBFB"/>
    <meta name="msapplication-navbutton-color" content="#FBFBFB"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#FBFBFB"/>
    <meta name="description" content="Quran Mailer is quran mailing free service."/>
    <meta name="keywords" content="Quran Mailer, Quran, Muslim, ahmed0saber, Ahmed Saber"/>
    <meta name="author" content="Ahmed Saber, ahmed0saber, ahmed0saber33@gmail.com"/>
    <meta property='og:url' content='https://quran-mailer.vercel.app/'/>
    <meta name="og:title" content="<%=title%> | Quran Mailer"/>
    <meta name="og:description" content="Quran Mailer is quran mailing free service."/>
    <meta property="og:image" content="https://drive.google.com/u/0/uc?id=1cBnOVXovu3pQxvfCGcYS3he4dAqla9Y1&export=download"/>
    <link rel="icon" href="../images/quran-mailer-logo.png" type="image/x-icon"/>
    <title><%=title%> | Quran Mailer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='../style.css'>
    <script src='../script.js' defer></script>
    <script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous" defer></script>
</head>