.hero-section {
    width: 100%;
    min-height: calc(100svh - 68px);
    background: transparent url("/hero-section.webp") center center no-repeat;
    background-size: cover;
    /* background-blend-mode: overlay; */
    border-image-source: linear-gradient(hsla(240, 5%, 8%, 0.7), hsla(0, 9%, 3%, 0.9));
    border-image-slice: fill 1;
    display: flex;
    align-items: center;
}

.hero-section h1 {
    color: var(--main-text-2);
    font-size: var(--fz-lg);
}

.hero-section p {
    color: var(--main-text-2);
    font-size: var(--fz-sm);
    opacity: 0.9;
    margin: 4px 0 16px 0;
}

.hero-section .btns-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 12px;
}

.hero-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    font-size: calc(0.35vw + 14px);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.hero-section .btn-primary {
    background-color: var(--white);
    color: var(--text-color);
    font-size: var(--fz-btn);
}

.hero-section .btn-secondary {
    background-color: var(--white-150);
    color: var(--main-text-2);
    border: 2px solid var(--main-text-2);
    font-size: var(--fz-btn);
}

.attribute p {
    text-align: center;
    color: var(--text-color);
    font-size: calc(0.4vw + 12px);
}

@media (min-width: 577px) {
    .attribute p {
        text-align: start;
    }
}

.attribute p a {
    color: var(--main-500);
    padding: 0 4px;
}

@media (max-width: 425px) {
    .hero-section {
        min-height: calc(100svh - 100px);
    }
}