.hero-section {
    width: 100%;
    min-height: calc(100dvh - 68px);
    background: #323232C2 url("../public/hero-section.webp") center center no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
}

.hero-section h1 {
    color: #FEFEFE;
    font-size: calc(1vw + 24px);
}

.hero-section p {
    color: #FEFEFE;
    font-size: calc(0.5vw + 16px);
    opacity: 0.9;
    margin: 4px 0 16px 0;
}

.hero-section .btns-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 12px;
}

.hero-section .btns-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    font-size: calc(0.35vw + 14px);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.hero-section .btns-container a.primry-btn {
    background-color: #FEFEFE;
    color: #323232;
}

.hero-section .btns-container a.secondary-btn {
    background-color: #FEFEFE00;
    color: #FEFEFE;
    border: 2px solid #FEFEFE;
}

.attribute p {
    color: #323232;
    font-size: calc(0.4vw + 12px);
}

.attribute p a {
    color: #007bff;
    padding: 0px 4px;
}

@media (max-width: 425px) {
    .hero-section {
        min-height: calc(100dvh - 100px);
    }
}