<header class="navbar">
    <h3>
        <a href="/">
            ذكرنى بالقرآن
        </a>
    </h3>
    <nav>
        <a href="/" <%if(active=="home"){%>class="active"<%}%>>
            الرئيسية
        </a>
        <a href="/contact" <%if(active=="contact"){%>class="active"<%}%>>
            تواصل معنا
        </a>
        <a href="/subscribe" <%if(active=="subscribe"){%>class="active"<%}%>>
            اشترك الان
        </a>
    </nav>
</header>