.hero-section {
    width: 100%;
    min-height: calc(100vh - 61px);
    background: #323232C2 url("../images/hero-section.jpg") center center no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
}

.hero-section .text-container {
    padding: 12px;
    width: calc(100% - 120px);
    margin: 0 auto;
}

.hero-section .text-container h1 {
    color: #FEFEFE;
    font-size: calc(1vw + 24px);
}

.hero-section .text-container p {
    color: #FEFEFE;
    font-size: calc(0.5vw + 16px);
    opacity: 0.9;
    margin: 4px 0 16px 0;
}

.hero-section .text-container .btns-container {
    display: flex;
    align-items: stretch;
    gap: 12px;
}

.hero-section .text-container .btns-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 22px;
    font-size: calc(0.35vw + 14px);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.hero-section .text-container .btns-container a.subscribe-btn {
    background-color: #FEFEFE;
    color: #323232;
}

.hero-section .text-container .btns-container a.contact-btn {
    background-color: #FEFEFE00;
    color: #FEFEFE;
    border: 2px solid #FEFEFE;
}

.attribute {
    padding: 4px 12px;
}

.attribute p {
    color: #323232;
    font-size: calc(0.4vw + 12px);
}

.attribute p a {
    color: #007bff;
}

@media (max-width: 768px) {
    .hero-section .text-container {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .hero-section {
        min-height: calc(100vh - 92px);
    }
}