<!DOCTYPE html>
<html lang='en'>

<%- include('partials/head', {title: "Not Found"}) %>

<body>
    <%- include('partials/navbar', {active: "success"}) %>
    <main>
        <section class="success-section">
            <h1>
                عذرا لم نتمكن من العثور على هذه الصفحة
            </h1>
            <a href="/">
                العودة إلى الصفحة الرئيسية
            </a>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>