<!DOCTYPE html>
<html lang='en'>

<%- include('partials/head', {title: "Contact"}) %>

<body>
    <%- include('partials/navbar', {active: "contact"}) %>
    <main>
        <section class="contact-us-section">
            <h1>
                تواصل معنا
            </h1>
            <p>
                يسرنا تواصلكم معنا من خلال النموذج التالي عند الرغبة فى اخبارنا اى شئ يخص هذا الموقع الالكترونى
            </p>
            <form method="post" onsubmit="return false">
                <div class="input-container js-input-container">
                    <input name='name' type="text" placeholder="ادخل الاسم بالكامل" class="js-name-input">
                    <p class="error js-error-holder"></p>
                </div>
                <div class="input-container js-input-container">
                    <input name='email' type="text" placeholder="ادخل البريد الالكترونى" class="js-email-input">
                    <p class="error js-error-holder"></p>
                </div>
                <div class="input-container js-input-container">
                    <textarea name='message' placeholder="ما الذى ترغب فى اخبارنا به؟" class="js-msg-input"></textarea>
                    <p class="error js-error-holder"></p>
                </div>
                <button class="contact-btn">
                    ارسال
                </button>
            </form>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>