<!DOCTYPE html>
<html lang='en'>

<%- include('partials/head', {title: "Success"}) %>

<body>
    <%- include('partials/navbar', {active: "success"}) %>
    <main>
        <section class="success-section">
            <h1>
                تمت العملية بنجاح
            </h1>
            <p>
                يسعدنا استخدامك لموقعنا الالكترونى و نتمنى لك التوفيق الدائم
            </p>
            <a href="/">
                العودة إلى الصفحة الرئيسية
            </a>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>