* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: 'Cairo', cursive;
}
body{
    scroll-behavior:smooth;

}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

body {
    background-color: #FEFEFE;
    direction: rtl;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 2px 2px #32323212;
    padding: 12px;
}

.navbar h3 {
    color: #323232;
    font-size: calc(0.5vw + 16px);
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar nav a {
    color: #323232;
    font-size: calc(0.35vw + 12px);
    padding: 2px;
}

.navbar nav a.active {
    color: #007bff;
}

.input-container {
    width: 100%;
}

.error {
    font-size: 12px !important;
    color: #dc3545 !important;
}

.elzecr{
    position: absolute;
    z-index: 92929;
  margin-top: 20px;
  margin-right:50px ;
  background-color: rgba(14, 221, 221, 0.595);
  padding: 10px;
  text-align: center;
   border-radius: 20px;
}
.elzecr.active{
  display: none;
}

.elzecr i{
background-color: white;
border-radius: 50%;
height: 30px;
width: 30px;
line-height: 30px;
cursor: pointer;
}
.section-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .section-content .card {
    position: relative;
    margin-left: 20px;
    background-color: #eee;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    text-align: center;
    border: 10px solid #eee;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: white;
    z-index: 1;
    transform: translateX(100%);
    overflow-y: scroll;
  }
  
  .popup.active {
    transform: translateX(0%);
    transition: 0.7s ease;
  }
  
  .popup::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
    border-radius: 10px;
  }
  
  .popup::-webkit-scrollbar-thumb {
    background-color: #eee;
    background-color: green;
    border-radius: 10px;
    width: 10px;
  }
  
  .popup i {
    position: sticky;
    font-size: 25px;
    margin-top: 70px;
    font-weight: bolder;
    text-align: right;
    margin-right: 20px;
    display: block;
    cursor: pointer;
    background-color: #ccc;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    transition: .5s ease;
  }
  
  .popup i:hover {
    background-color: black;
    color: white;
  }
  
  .popup p {
    border-bottom: 1px solid green;
  }

@media (max-width: 425px) {
    .navbar {
        flex-direction: column;
    }
}
#btn_elquran{
    color: white;
    border: 2px solid white;
    transition: .5s ease;
}
#btn_elquran:hover{
    background-color: white;
    color: black;
}
footer p {
    padding: 8px 12px;
    text-align: center;
    border-top: 1px solid #32323232;
}

footer p a {
    color: #007bff;
}